### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tests
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/
*.dist-info/

# virtual environmnents
venv/